@charset "UTF-8";
@font-face {
	font-family: 'corp-bold';
	src: url("/C5/font/Corporate-Logo-Bold-ver3.ttf") format('opentype');
}
@font-face {
	font-family: 'corp-medium';
	src: url("/C5/font/Corporate-Logo-Medium-ver3.ttf") format('opentype');
}
@font-face{
	font-family: "smart-ui";
	src: url("/C5/font/スマートフォントUI.otf") format('opentype');
}
@font-face{
	font-family: "nikkyou-sans";
	src: url("/C5/font/NikkyouSans-mLKax.ttf");
}
@font-face{
	font-family: "koruri-bold";
	src: url("/C5/font/Koruri-Bold.ttf");
}
@font-face{
	font-family: "koruri-regular";
	src: url("/C5/font/Koruri-Regular.ttf");
}
@font-face{
	font-family: "boku-bold";
	src: url("/C5/font/Boku2-Bold.ttf");
}

/*===============================共通===============================*/
/*====================全部====================*/
*{
	box-sizing: border-box;
}
:root{
	--accent-color: #009EA9;
	--main-black: #000000;
	--main-white: #ffffff;
	--main-gray: #a9a9a9;
	--material-shadow: 0 2px 6px 0 #20212447;
	--material-shadow-right: 0 2px 2px 0 #20212447;
	--hover-color: #E6E7E7CC;
	
	--text-gray: #5e5e5e;
	
	--font-smart: "smart-ui";
	--font-corp-b: "corp-bold";
	--font-corp-m: "corp-medium";
	--font-kakumei: "nikkyou-sans";
	--font-koruri-b: "koruri-bold";
	--font-koruri-r: "koruri-regular";
	--font-boku: "boku-bold";
}
label{
	cursor: pointer;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	width: 100%;
}
textarea{
	background-color: var(--main-white);
	resize: none;
	border: none;
	box-shadow: var(--material-shadow);
	font-size: 16px;
	outline: none;
}
h1{
	margin: 0;
}
a{
	text-decoration: none;
}
input[type="text"]{
	padding: .5rem;
	border-radius: 15px;
	border: 1px solid var(--main-gray);
}
input[type="text"]:focus,
input[type="password"]:focus{
	border: 1px solid var(--main-gray);
	outline: none;
}
.icon{
	user-select: none;
	display: block;
}
.success-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	border-radius: 10px;
	margin-top: 2rem;
	box-shadow: var(--material-shadow);
}
/*====================全部====================*/
/*====================ボタン====================*/
.button-icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 8px;
	line-height: 0;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-icon:hover{
	background-color: var(--hover-color);
	display: flex;
	opacity: 1;
}
.button-s{
	width: 120px;
	height: 40px;
	border-radius: 15px;
	padding: .5rem;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-color: var(--accent-color);
	color: var(--main-white);
	font-weight: bold;
	font-size: 15px;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.button-fit{
	width: auto;
	height: 40px;
	border-radius: 15px;
	padding: .5rem;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-color: var(--accent-color);
	color: var(--main-white);
	font-weight: bold;
	font-size: 15px;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.button-sbmt{
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 15px;
	cursor: not-allowed;
	background-color: var(--main-gray);
	color: var(--main-white);
	font-weight: bold;
	font-size: 15px;
}
.button-sbmt.active{
	background-color: var(--accent-color);
	cursor: pointer;
}
.button{
	all: unset;
	cursor: pointer;
	display: inline-flex;	
	align-items: center;
}
/*====================ボタン====================*/
/*===============================共通===============================*/

/*===============================ヘッダー===============================*/
header{
	background-color: var(--main-white);
	display: flex;
	height: 5rem;
	box-shadow: var(--material-shadow);
	align-items: center;
	justify-content: flex-end;
	position: relative;
	width: 100%;
}
header>*{
	color: var(--main-black);
}
header a{
	display: inline-block;
}
header a:visited{
	text-decoration: none;
}
.header-name{
	position: absolute;
	left: 2rem;
	font-family: var(--font-corp-m);
	user-select: none;
}
/*====================ナビバー====================*/
#nav-user{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#nav-user:hover{
	background-color: var(--hover-color);
}
.nav-bar{
	display: flex;
	text-align: center;
	align-items: center;
	margin-right: 5%;
	gap: 1rem;
}
.nav-button-icon{
	color: var(--main-black);
}
.nav-icon{
	position: relative;
}
.icon-text{
	display: none;
	position: absolute;
	top: 100%;
	white-space: nowrap;
	font-family: var(--font-koruri-b);
	font-size: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.nav-icon:hover .icon-text {
	display: block;
}
#user-menu{
	position: absolute;
	z-index: 9999;
	top: 90px;
	right: 5%;
	flex-direction: column;
	background-color: var(--main-white);
	gap: 1rem;
	padding: 1rem;
	box-shadow: var(--material-shadow);
	border-radius: 10px;
	align-items: center;
}
.nav-bar>*{
	color: var(--main-black);
}
.name{
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
/*====================ナビバー====================*/
/*====================タイトルロゴ====================*/
.title{
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.title>*{
	user-select: none;
}
.title-logo{
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
.title-text{
	display: flex;
	flex-direction: column;
	font-family: var(--font-corp-b);
}
.title-top{
	font-size: 20px;
}
.title-bottom{
	font-size: 14px;
	color: var(--accent-color);
}
/*====================タイトルロゴ====================*/
/*===============================ヘッダー===============================*/

/*===============================メイン===============================*/
main{
	display: flex;
	justify-content: center;
}
/*====================トップページ====================*/
.index-con{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.aad-con{
	display: flex;
	gap: 1rem;
	margin: auto;
	align-items: center;
	justify-content: center;
	height: 309px;
	overflow: hidden;
	width: 100%;
}
.aad-colum{
	display: flex;
	flex-direction: column;
	width: auto;
}
.aad-img{
	max-height: 250px;
	height: auto;
	width: auto;
	box-shadow: var(--material-shadow);
}
.add-text{
	font-family: var(--font-koruri-r);
	font-size: 8px;
}
/*===========通知===========*/
.notification {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem;
	border-radius: 5px;
	color: var(--main-white);
	font-weight: bold;
	box-shadow: var(--material-shadow);
	z-index: 1000;
	text-align: center;
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error {
	background-color: #e74c3c;
}
.success {
	background-color: #2ecc71;
}
/*===========通知===========*/
/*===========検索===========*/
.search-container{
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}
.search-title{
	position: absolute;
	top: 120px;
	font-family: var(--font-smart);
	font-weight: bold;
	font-size: 50px;
	color: var(--main-white);
}
.search-img{
	box-shadow: var(--material-shadow);
	width: 100%;
	height: 450px;
	user-select: none;
}
.search-container form{
	background-color: var(--main-white);
	width: 650px;
	min-width: 650px;
	height: 290px;
	position: absolute;
	top: 200px;
	border-radius: 20px;
	box-shadow: var(--material-shadow);
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.search-subtitle{
	display: inline-flex;
	width: 80px;
	text-align: start;
	font-family: var(--font-koruri-b);
}
.column{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.column select{
	padding: .5rem;
	border-radius: 15px;
	border: 1px solid var(--main-gray);
}
.column1 input[type="text"]{
	height: 35px;
	flex-grow: 1;
}
.column2 select{
	height: 35px;
	border-radius: 15px 0 0 15px;
}
.column2 input[type="text"]{
	height: 35px;
	border-radius: 0 15px 15px 0;
	flex-grow: 1;
}
.column3 input[type="text"],
.column3 select,
.column4 select{
	width: 200px;
}
.search-benefit{
	margin-left: 2rem;
}
.search-employment{
	margin-left: 2rem;
}
.search-button{
	margin: auto;
}
/*===========検索===========*/
/*====================トップページ↑====================*/
/*====================ログアウト↓====================*/
.logout-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 2rem;
	gap: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: var(--material-shadow);
}
.logout-title{
	font-family: var(--font-corp-b);
	font-size: 20px;
}
.logout-button{
	background-color: red !important;
}
/*====================ログアウト↑====================*/
/*====================検索結果↓====================*/
.jobsearch-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 80%;
	max-width: 700px;
	min-width: 620px;
	gap: 1rem;
}
.jobsearch-form{
	background-color: var(--main-white);
	border-radius: 15px;
	padding: .5rem;
	box-shadow: var(--material-shadow);
	min-width: 620px;
	width: 620px;
	margin: auto;
	margin-top: 2rem;
}
.jobsearch-title{
	font-family: var(--font-corp-m);
	font-size: 20px;
	margin-top: 1rem;
}
.jobsearch-list{
	display: flex;
	flex-direction: column;
	text-align: start;
	gap: .5rem;
}
.jobsearch-row{
	background-color: var(--main-white);
	min-height: 4rem;
	padding: 1rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid var(--main-black);
}
.jobsearch-jobtype{
	color: var(--main-black);
	font-size: 13px;
}
.jobsearch-row3,
.jobsearch-row4{
	display: flex;
	gap: 1rem;
	color: var(--text-gray);
	align-items: center;
	text-align: center;
	height: 20px;
	font-size: 13px;
}
.jobsearch-icon{
	font-size: 20px;
}
.jobsearch-benefit,
.jobsearch-holiday{
	display: flex;
}

.page-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 1rem 0 1.5rem 0;
}
.page-number-con{
	display: flex;
	align-items: center;
	gap: 2rem;
}
.page-num{
	color: var(--main-white);
	background-color: var(--main-gray);
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	vertical-align: bottom;
	display: inline-block;
	line-height: 2rem;
}
.page-container>a,
.page-number-con>a{
	color: var(--main-black);
}
.arrow{
	user-select: none;
}
/*====================検索結果↑====================*/
/*====================求人詳細↓====================*/
.jobdetail-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	max-width: 800px;
	gap: 1rem;
	margin-bottom: 1rem;
}
.jobdetail-info{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 2rem;
	gap: .5rem;
	width: 500px;
}
.jobdetail-infotitle{
	font-family: var(--font-boku);
	font-weight: 600;
	letter-spacing: 5px;
	font-size: 15px;
	margin-bottom: 2px;
}
.jobdetail-company{
	font-family: var(--font-corp-m);
	font-size: 25px;
	font-weight: 500;
	margin: auto;
}
.jobdetail-address,
.jobdetail-employment,
.jobdetail-jobtype,
.jobdetail-benefit,
.jobdetail-holiday{
	display: flex;
	gap: .5rem;
	margin: auto;
}
.jobdetail-row2,
.jobdetail-row3,
.jobdetail-row4,
.jobdetail-row5,
.jobdetail-row6{
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
}
.jobdetail-row{
	display: flex;
	gap: 2rem;
	margin: auto;
}
.jobdetail-pdf{
	margin: auto;
	width: 250px;
}
.jobdetail-subtitle{
	font-family: var(--font-corp-m);
	font-size: 20px;
	font-weight: 500;
}
/*===========体験談登録===========*/
.jobdetail-experience-add{
	width: 400px;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.jobdetail-experience-form{
	display: flex;
	flex-direction: column;
	position: relative;
}
.jobdetail-experience-input{
	padding: .5rem;
	border-radius: 10px;
	height: 100px;
	min-width: 400px;
	max-width: 400px;
}
.jobdetail-experience-button{
	margin: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5rem;
}
.ex-success{
	color: var(--accent-color);
	font-family: var(--font-corp-m);
}
/*===========体験談登録===========*/
/*===========体験談リスト===========*/
.jobdetail-experience{
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 600px;
	min-width: 550px;
	margin: auto;
}
.jobdetail-experience-row{
	display: flex;
	flex-direction: column;
	border: 1px solid var(--main-gray);
	padding: .5rem;
	border-radius: 5px;
	height: auto;
}
.jobdetail-experience-column{
	display: flex;
	justify-content: space-between;
}
.jobdetail-experience-name{
	font-family: var(--font-koruri-b);
}
.jobdetail-experience-date{
	font-size: 13px;
	color: var(--text-gray);
}
.jobdetail-experience-comment{
	font-family: var(--font-koruri-r);
	font-size: 14px;
}
/*===========体験談リスト===========*/
/*====================求人詳細====================*/
/*====================会員登録====================*/
.register-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}
.register-container form{
	display: flex;
	justify-content: center;
}
.register-form{
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 1rem;
}
.register-title{
	margin: auto;
	font-family: var(--font-corp-b);
	font-size: 20px;
	margin-bottom: 1rem;
}
.register input[type="text"],
.register input[type="password"]{
	width: 300px;
	border-radius: 15px;
	padding: .5rem;
	border: 1px solid var(--main-gray);
}
.register-subtitle{
	font-family: var(--font-corp-m);
	text-align: start;
}
.register-submit{
	margin: auto;
}
.register-pass{
	position: relative;
}
.toggle-password{
	position: absolute;
	right: 10px;
	bottom: 3px;
	user-select: none;
}
/*===========登録成功===========*/
.register-success{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: var(--material-shadow);
	gap: .5rem;
}
.register-success-title{
	font-family: var(--font-koruri-b);
}
/*===========登録成功===========*/
/*====================会員登録====================*/
/*====================ログイン====================*/
.login-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}
.login-container form{
	display: flex;
	justify-content: center;
}
.login-form{
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 1rem;
}
.login-title{
	margin: auto;
	font-family: var(--font-corp-b);
	font-size: 20px;
	margin-bottom: 1rem;
}
.login input[type="text"],
.login input[type="password"]{
	width: 300px;
	border-radius: 15px;
	padding: .5rem;
	border: 1px solid var(--main-gray);
}
.login-subtitle{
	font-family: var(--font-corp-m);
	text-align: start;
}
.login-submit{
	margin: auto;
}
.login-pass{
	position: relative;
}
/*====================ログイン↑====================*/
/*====================就活体験談削除====================*/
.experience-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	max-width: 700px;
}
.experience-container>h2{
	margin: 0;
	margin-top: 1rem;
}
.experience-container>h4{
	margin: 0;
	margin-bottom: 1rem;
	color: red;
}
.experience-list{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.experience-row {
	display: flex;
	text-align: start;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: .5rem;
}
.experience-check{
	display: flex;
	padding: .5rem;
	align-items: center;
}
.experience-info{
	display: flex;
	flex-direction: column;
	white-space: normal;
	width: 100%;
}
.experience-company{
	font-weight: bold;
}
.experience-name{
	font-size: small;
}
.experience-comment{
	width: 100%;
	white-space: normal;
}
.experience-delete {
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 15px;
	width: 15rem;
	background: red;
	color: white;
	border: none;
	cursor: pointer;
	font-family: var(--font-corp-b);
	font-size: 15px;
}
/*===========体験談削除確認===========*/
.experiencedelete-confirm{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	max-width: 700px;
	gap: 1rem;
	margin-bottom: 1rem;
}
.experiencedelete-confirm>h2{
	margin: 0;
	margin-top: 1rem;
}
.experiencedelete-subtitle{
	font-weight: bold;
	color: red;
}
.experiencedelete-row{
	display: flex;
	flex-direction: column;
	text-align: start;
	border: 1px solid #ccc;
	border-radius: 15px;
}
.ex-del-button input[type="submit"]{
	background-color: red;
}
.ex-del-button{
	display: flex;
	gap: 3rem;
	margin: auto;
}
/*===========体験談削除確認===========*/
/*====================就活体験談削除====================*/
/*====================求人登録====================*/
.jobadd-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 700px;
}
.jobadd-error{
	color: red;
	font-family: var(--font-corp-m);
}
.jobadd-title{
	font-family: var(--font-corp-b);
	font-size: 25px;
	margin-top: 2rem;
}
.jobadd-subtitle{
	font-family: var(--font-corp-m);
	font-size: 15px;
	display: flex;
	margin: auto;
}
.jobadd-container form{
	width: 600px;
}
.jobadd-form{
	display: flex;
	flex-direction: column;
	text-align: start;
	background-color: var(--main-white);
	box-shadow: var(--material-shadow);
	padding: 1rem;
	border-radius: 10px;
	max-width: 600px;
	min-width: 600px;
	gap: 1rem;
}
.jobadd-rowtitle{
	font-family: var(--font-corp-m);
	font-size: 15px;
}
.jobadd-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.jobadd-row input[type="text"],
.jobadd-row select{
	padding: .5rem;
	border-radius: 15px;
	border: 1px solid var(--main-gray);
	height: 32px;
}
.jobadd-row select{
	width: 150px;
	padding: 0 0 0 1rem;
}
.jobadd-company,
.jobadd-jobtype{
	width: 450px;
}
.jobadd-address-row{
	position: relative;
}
.jobadd-prefecture{
	border-radius: 15px 0 0 15px !important;
	position: absolute;
	right: 300px;
}
.jobadd-address{
	border-radius: 0 15px 15px 0 !important;
	width: 300px;
}
.jobadd-inline{
	display: flex;
	justify-content: space-between;
}
.jobadd-inline input[type="text"],
.jobadd-inline select{
	width: 250px;
	padding: .5rem;
	border-radius: 15px;
	border: 1px solid var(--main-gray);
	height: 32px;
}
.jobadd-inline select{
	padding: 0 0 0 1rem;
}
.jobadd-submit{
	margin: auto;
}
/*===========登録成功===========*/
.jobadd-success{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
	gap: .5rem;
	border-radius: 10px;
	box-shadow: var(--material-shadow);
	margin-top: 2rem;
}
.jobadd-success-message{
	font-family: var(--font-koruri-b);
}
.jobadd-success-row{
	text-align: start;
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*===========登録成功===========*/
/*====================求人登録====================*/
/*====================求人情報管理====================*/
.joblist-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 700px;
	gap: 1rem;
	margin-bottom: 3rem;
}
.joblist-title{
	font-family: var(--font-corp-b);
	font-size: 25px;
	margin-top: 2rem;
}
.joblist-search{
	display: flex;
}
.joblist-search input[type="text"]{
	width: 200px !important;
	height: 34px !important;
	border-radius: 15px 0 0 15px;
}
.joblist-button{
	width: 150px !important;
	height: 34px !important;
	border-radius: 0 15px 15px 0;
}
.joblist-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	border-radius: 5px;
	border: 1px solid var(--main-gray);
	width: 700px;
}
.joblist-row-text{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.joblist-column{
	width: 650px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}
.joblist-row-icon{
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 10px;
}
.joblist-row-icon form{
	height: 24px;
}
/*====================求人情報管理====================*/
/*====================求人情報更新====================*/
.jobupdate-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 602.88px;
}
.jobupdate-form{
	min-width: 602.88px;
	width: 602.88px;
	display: flex;
	flex-direction: column;
}
.jobupdate-button{
	margin: auto;
	margin-top: 1rem;
}
/*====================求人情報更新====================*/
/*====================求人情報削除====================*/
.jobdelete{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	gap: .5rem;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: var(--material-shadow);
	width: 400px;
}
.jobdelete-subtitle{
	font-family: var(--font-koruri-b);
}
.jobdelete-info{
	display: flex;
	flex-direction: column;
	text-align: start;
}
.jobdelete-text{
	width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.jobdelete-button{
	display: flex;
	gap: 3rem;
	margin: auto;
}
.jobdelete h2{
	margin: 0;
}
/*====================求人情報削除====================*/
/*====================利用者BAN====================*/
.userdel-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.userdel-list{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.userdel-row{
	display: flex;
	text-align: start;
	padding: .5rem;
	width: 320px;
	max-width: 320px;
	border-radius: 5px;
	border: 1px solid var(--main-gray);
}
.userdel-row label{
	display: flex;
}
.userdel-name{
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.userdel-container h2{
	margin: 0;
}
.userdel-list button[type="submit"]{
	margin: auto;
}
.userdel-con{
	gap: 1rem;
}
/*====================利用者BAN====================*/
/*====================利用者アカウント退会====================*/
.userwithdraw-container{
	display: flex;
	flex-direction: column;
	max-width: 300px;
	min-width: 300px;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 2rem;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--main-white);
	box-shadow: var(--material-shadow);
	border-radius: 10px;
}
.userwithdraw-title{
	font-family: var(--font-corp-m);
	font-size: 20px;
}
.userwithdraw-error{
	color: red;
	font-family: var(--font-corp-m);
}
/*====================利用者アカウント退会====================*/
/*====================エラーページ====================*/
.err-con>*{
	user-select: none;
}
.err-con{
	display: flex;
	gap: 1rem;
}
.err-column{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	gap: 1rem;
}
.err-title{
	font-family: var(--font-corp-b);
	font-size: 40px;
}
.err-message{
	font-family: var(--font-corp-m);
	font-size: 20px;
}
.err-img{
	height: 250px;
}
/*====================エラーページ====================*/
/*===============================メイン===============================*/

/*===============================SU用===============================*/
/*====================追加====================*/
.add-cont{
	margin-top: 2rem;
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	gap: 1rem;
}
.add-title{
	padding: .5rem;
	border-radius: 10px;
	width: 50%;
	font-size: 25px;
}
.add-blog{
	padding: .5rem;
	border-radius: 10px;
	width: 100%;
	height: auto;
	min-height: 20rem;
	font-size: 20px;
}
/*====================追加====================*/
/*====================ポートフォリオ====================*/
.port-cont{
	margin-top: 2rem;
	background-color: red;
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*====================ポートフォリオ====================*/
/*===============================SU用===============================*/

/*===============================フッター===============================*/
footer>*{
	overflow: hidden;
	white-space: nowrap;
}
footer{
	background-color: var(--main-black);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 120px;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	gap: .5rem;
}
.copy{
	color: var(--main-white);
}
/*====================タイトルロゴ====================*/
.footer-title{
	display: flex;
	justify-content: center;
}
.footer-title>*{
	user-select: none;
}
footer .title-logo{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
footer .title-top{
	font-size: 20px;
	color: var(--main-white);
}
/*====================タイトルロゴ====================*/
/*===============================フッター===============================*/
