@charset "UTF-8";
@font-face{
	font-family: "corp-logo";
	src: url("Corporate-Logo-Bold-ver3.otf");
}
@font-face{
	font-family: "smart-ui";
	src: url("スマートフォントUI.otf");
}

/*===============================共通===============================*/
/*====================全部====================*/
*{
	box-sizing: border-box;
}
:root{
	--accent-color: #009EA9;
	--main-black: #000000;
	--main-white: #ffffff;
	--material-shadow: 0 2px 6px 0 #20212447;
	--hover-color: #E6E7E7CC;
	--font-smart: smart-ui;
	--font-corp: corp-logo;
}
label{
	cursor: pointer;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
textarea{
	background-color: var(--main-white);
	resize: none;
	border: none;
	box-shadow: var(--material-shadow);
	font-size: 16px;
	outline: none;
}
h1{
	margin: 0;
}
/*====================全部====================*/
/*===============================共通===============================*/

/*===============================ヘッダー===============================*/
header{
	background-color: var(--main-white);
	display: flex;
	height: 5rem;
	box-shadow: var(--material-shadow);
	align-items: center;
	justify-content: space-between;
}
header>*{
	color: var(--main-black);
}
header a{
	text-decoration: none;
	color: var(--main-black);
}
header a:visited{
	text-decoration: none;
	color: var(--main-black);
}
.title{
	white-space: nowrap;
	font-family: "corp-logo";
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
	user-select: none;
}
.title>h1{
	margin: 0;
	padding: 0;
	font-size: 35px;
}
/*===============================ヘッダー===============================*/

/*===============================メインコンテンツ===============================*/
main{
	display: flex;
	justify-content: center;
}
/*====================index.jsp====================*/
/*===========検索===========*/
.search-container{
	width: 100%;
	display: flex;
	justify-content: center;
}
.search-title{
	position: absolute;
	top: 130px;
	font-family: var(--font-smart);
	font-weight: bold;
	font-size: 50px;
}
.search-form{
	background-color: red;
	width: 80%;
	position: absolute;
	top: 200px;
}
.search-img{
	box-shadow: var(--material-shadow);
}
/*===========検索===========*/
/*====================index.jsp====================*/
/*===============================メインコンテンツ===============================*/

/*===============================フッター===============================*/
footer>*{
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: var(--main-white);
}
footer{
	background-color: var(--main-black);
	display: flex;
	width: 100%;
	height: 200px;
	align-items: center;
	margin-top: auto;
}
/*===============================フッター===============================*/
